<div id="about-us">  
  <div id="info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>We care about our work</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">          
          <p>
            Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - Canvas has a complete solution for you.
          </p>
          <p>
            You have complete control over the look &amp; feel of your website, we offer the best quality so you take your site up and running in no time.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Canvas is a simple, developer-friendly way to get your site. Full of features, cool documentation ease of use, lots of pages. We want to help bringing cool stuff to people so they can get their projects faster.
          </p>
          <a href="#" class="join-team button button-small">Join our team</a>
        </div>
      </div>
      <div class="row stats">
        <div class="col-sm-3">
          <strong>13</strong>
          employees
        </div>
        <div class="col-sm-3">
          <strong>10k</strong>
          customers
        </div>
        <div class="col-sm-3">
          <strong>9</strong>
          template pages
        </div>
        <div class="col-sm-3">
          <strong>13k</strong>
          products sold
        </div>
      </div>
      <div class="row team">
        <div class="col-md-12 team-row">
          <img src="images/testimonials/testimonial1.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Eric Smith - CEO">
          <img src="images/testimonials/testimonial2.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Rachel Dawes - PM">
          <img src="images/testimonials/testimonial3.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Henry Hill - Developer">
          <img src="images/testimonials/testimonial4.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Ana Rich - Designer">
          <img src="images/testimonials/testimonial7.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Jessica Welch - Designer">
          <img src="images/testimonials/testimonial8.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Charly - iOS Developer">
        </div>
        <div class="col-md-12 team-row">
          <img src="images/testimonials/testimonial5.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Karen Stewart - PM">
          <img src="images/testimonials/testimonial4.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Charly - iOS Developer">
          <img src="images/testimonials/testimonial7.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Jessica Welch - Designer">
          <img src="images/testimonials/testimonial8.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="John Raynolds - UI/UX">
          <img src="images/testimonials/testimonial3.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Henry Hill - Developer">
          <img src="images/testimonials/testimonial2.jpg" data-toggle="tooltip" title="" alt="testimonial" data-original-title="Rachel Dawes - PM">
        </div>
      </div>
    </div>
  </div>
</div>